= form_for @event, html: { class: "form form-horizontal event", style: 'padding:20px;' } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@event[:title])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@event[:description])
  .form-group
    = f.label :date, class: 'control-label'
    .controls
      = f.datetime_select :date, class: 'form-control', required: true
    = error_span(@event[:date])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn btn-default'
